<div id="map"></div>
<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="h3 mb-3 text-black">CONTACTO</h2>
        </div>
        <div class="col-md-7">

            
            <div class="p-3 p-lg-5 border">
              <div class="form-group row">
                <div class="col-md-12">
                  <label id="error_name" class="text-black">Nombre y Apellidos: <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="cname" name="cname" required="required" placeholder="Nombre">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label id="error_emial" class="text-black">Email: <span class="text-danger">*</span></label>
                  <input type="email" class="form-control" id="cemail" name="cemail" id="cemail" required="required" placeholder="Correo electronico">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label class="text-black">Asunto: </label>
                  <select class="form-control" name="matter" id="matter">
                    <option selected>Seleccione un asunto</option>
                    <option>Problemas con la pagina</option>
                    <option>Mejoras para la pagina</option>
                    <option>Problemas con el registro</option>
                    <option>Problemas al insertar un viaje</option>
                    <option>Problemas al intentar comprar</option>
                    <option>Contacto para una promoción</option>
                    <option>Otros</option>
               </select>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label id="error_dinfo" class="text-black">Mensaje: </label>
                  <textarea name="message" id="message" cols="30" rows="5" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-12">
                    <button class="btn btn-primary btn-lg btn-block" type="button" name="send_contact" id="send_contact">Enviar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-5 ml-auto">
          <div class="p-4 border mb-3">
            <span class="d-block text-primary h6 text-uppercase">New York</span>
            <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
          </div>
          <div class="p-4 border mb-3">
            <span class="d-block text-primary h6 text-uppercase">London</span>
            <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
          </div>
          <div class="p-4 border mb-3">
            <span class="d-block text-primary h6 text-uppercase">Canada</span>
            <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <img src="<?php echo IMG_PATH; ?>ajax-loader.gif" alt="ajax loader icon" class="ajaxLoader" /><br/><br/>
<div id="rltsendmessage" style="display: none;"></div>